:root {
  --tb-base-bg: #00000062;
  --tb-base-fg: #ffffff;
  --tb-base-hover: #0000009f;
  --tb-base-active: #0000009f;
  --tb-accent-bg: #6498efee;
  --tb-secondary-bg: #252525;
  --tb-radius: 6px;
}
