@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* The Main Window */
#messengerWindow,
#messengerBox,
#mail-toolbox {
  background: var(--tb-base-bg) !important;
  border: none !important;
}

menubar > menu {
  color: var(--tb-base-fg) !important;
}

menubar {
  background-color: rgba(20, 20, 20, 0.8) !important;
}

textbox {
  background: var(--tb-base-bg) !important;
  border: none !important;
  border-radius: var(--tb-radius) !important;
  padding: 5px !important;
}

button {
  background-color: var(--tb-base-bg) !important;
  border-radius: var(--tb-radius) !important;
}

dropmarker {
  background-color: rgba(20, 20, 20, 0.8) !important;
  border-top-right-radius: var(--tb-radius) !important;
  border-bottom-right-radius: var(--tb-radius) !important;
  border: none !important;
}

box.panel-arrowbox {
  display: none;
}

box.panel-arrowcontent {
  border-radius: var(--tb-radius) !important;
  border: none !important;
}

menupopup {
  background-color: var(--tb-base-bg) !important;
  color: var(--tb-base-fg) !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: var(--tb-radius) !important;
  padding: 4px 0 !important;
}

/* splitter {
  /* 	background: var(--tb-base-bg) !important; */
/* 	width: 4px !important; */
/* 	box-shadow: none !important; */

#status-bar {
  background: var(--tb-base-bg) !important;
  border: none !important;
}

/* TABS */

/* The lines in tab bar */
tab.tabmail-tab {
  overflow: hidden;
}

.tabmail-arrowscrollbox:first-letter {
  margin-inline-start: 4px !important;
  margin-inline-end: 4px !important;
}

.tab-button {
  -moz-appearance: none !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
  border: none !important;
  padding: -1px !important;
  list-style-image: url("assets/close.svg") !important;
}

.tabmail-tab:hover > .tab-stack > .tab-background:not([selected="true"]) {
  background: var(--tb-base-hover) !important;
}

.tab-content {
  background: rgba(20, 20, 20, 0.8) !important;
  border-radius: var(--tb-radius) !important;
}

.tabmail-tab {
  border-width: 0;
  height: 32px !important;
  margin-inline-end: 4px !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  max-height: 32px !important;
  min-height: 32px !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.tabmail-tab:hover > .tab-stack > .tab-content > .tab-text {
  -moz-appearance: none !important;
  color: var(--tb-base-fg) !important;
  text-shadow: none !important;
}

.tab-background {
  border-radius: var(--tb-radius) !important;
}

.tab-background[selected="true"] {
  border-radius: var(--tb-radius) !important;
  background: var(--tb-base-bg) !important;
  border: none !important;
}

.tab-close-button[selected="true"],
.tab-close-button:hover:active,
.tab-close-button:hover:active[selected="true"] {
  -moz-image-region: rect(0, 48px, 16px, 32px);
  margin-top: -1px;
}

.tab-close-button:focus {
  outline: none !important;
}

.tab-text {
  font-weight: normal !important;
  font-size: 11pt !important;
  color: var(--tb-base-fg);
}

.tab-label-container:not([textoverflow]) {
  display: flex;
  overflow: hidden;
  justify-content: center;
  width: 50% !important;
  max-width: 50% !important;
  min-width: 50% !important;
}

.tab-line {
  display: none !important;
}

#tabs-toolbar {
  background: var(--tb-base-bg) !important;
  padding: none !important;
  margin: none !important;
  border: none !important;
}

/* Menubar Container */
.chromeclass-menubar {
  background: var(--tb-base-bg) !important;
}
