/*
   ▄▄                                  ▄▄                     
   ██      ██                                  ██                     
 ███████   ██▄████▄  ██    ██  ██▄████▄   ▄███▄██   ▄████▄    ██▄████ 
   ██      ██▀   ██  ██    ██  ██▀   ██  ██▀  ▀██  ██▄▄▄▄██   ██▀     
   ██      ██    ██  ██    ██  ██    ██  ██    ██  ██▀▀▀▀▀▀   ██      
   ██▄▄▄   ██    ██  ██▄▄▄███  ██    ██  ▀██▄▄███  ▀██▄▄▄▄█   ██      
    ▀▀▀▀   ▀▀    ▀▀   ▀▀▀▀ ▀▀  ▀▀    ▀▀    ▀▀▀ ▀▀    ▀▀▀▀▀    ▀▀  

 ▄▄        ▄▄▄▄                                                    ▄▄ 
 ██        ▀▀██                                                    ██ 
 ██▄███▄     ██      ██    ██   ██▄████   ██▄████   ▄████▄    ▄███▄██ 
 ██▀  ▀██    ██      ██    ██   ██▀       ██▀      ██▄▄▄▄██  ██▀  ▀██ 
 ██    ██    ██      ██    ██   ██        ██       ██▀▀▀▀▀▀  ██    ██ 
 ███▄▄██▀    ██▄▄▄   ██▄▄▄███   ██        ██       ▀██▄▄▄▄█  ▀██▄▄███ 
 ▀▀ ▀▀▀       ▀▀▀▀    ▀▀▀▀ ▀▀   ▀▀        ▀▀         ▀▀▀▀▀     ▀▀▀ ▀▀ 
 
*/


@import "colors.css";

/*Override default icons*/
@import "icons.css";

/*Add transparency to vanilla thunderbird*/
@import "transparency.css";

/*Override transparent elements*/
@import "global.css";

/*Override global elements*/
@import "inbox.css";



/*Load Addons*/
@import "addons/addons.css";

#titlebar-buttonbox-container {
    margin-left: 7px;
}
