/* 
_____ _                 _                     _    
/ ____(_)               | |                   | |   
| (___  _ _ __ ___  _ __ | | ___ _ __ ___ _ __ | |_  
\___ \| | '_ ` _ \| '_ \| |/ _ \ '__/ _ \ '_ \| __| 
____) | | | | | | | |_) | |  __/ | |  __/ | | | |_  
|_____/|_|_| |_| |_| .__/|_|\___|_|  \___|_| |_|\__| 
|  ____|           | |                               
| |__ _____  __    |_|                               
|  __/ _ \ \/ /                                      
| | | (_) >  <                                       
|_|  \___/_/\_\                                      
                                                    
 
No URL Bar Compressed Version
*/
/* 
V A R I A B L E S 
Here you can change the opacity level and the main color of the browser. Also the color of the selections (When you select text)
*/
:root {
  --srf-color-primary: #14141499;
  --srf-color-selection: #eaeaea;
}
/* 
C O M P R E S S E D - C O D E 
*/
window,#main-window,#toolbar-menubar,#TabsToolbar,#PersonalToolbar,#navigator-toolbox,#sidebar-box,#nav-bar{background-color:var(--srf-color-primary)!important;-moz-appearance:none!important;background-image:none!important;border:none!important;box-shadow:none!important}::selection{background-color:var(--srf-color-selection);color:#141414}:root{--tabs-border:transparent!important}.tab-background{border:none!important}.tab-background[selected="true"]{-moz-appearance:none!important;background-image:none!important}.tabbrowser-tabs{border:none!important;opacity:0!important}.tabbrowser-tab::before{opacity:0!important;border-left:none!important}.tabbrowser-tab::after{opacity:0!important;border-left:none!important}.titlebar-placeholder{border:none!important}#forward-button{display:none!important}#back-button{display:none!important}.titlebar-spacer{display:none!important}#tracking-protection-icon-container{display:none!important}#PanelUI-button{display:none!important}#navigator-toolbox::after{border-bottom:0!important;border-top:0!important}#nav-bar{margin-top:-1px!important;border-top-width:-1px!important;margin-bottom:-1px!important;border-bottom-width:-1px!important}#history-panel,#sidebar-search-container,#bookmarksPanel{background:var(--srf-color-primary)!important}#search-box{-moz-appearance:none!important;background:var(--srf-color-primary)!important;border-radius:6px!important}#sidebar-icon{display:none!important}.sidebar-placesTree{color:var(--srf-color-selection)!important}#sidebar-switcher-target{color:var(--srf-color-selection)!important}#sidebar-header{background:var(--srf-color-primary)!important}#sidebar-splitter{border:none!important;opacity:1!important;background-color:var(--srf-color-primary)!important}#urlbar[breakout]{margin-inline-start:0!important;width:100%!important;left:0!important;top:calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2)!important}#urlbar[breakout]:not([open]){bottom:calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2)!important}#urlbar-background{background:transparent!important;border:none!important;animation:none!important}#urlbar-input-container{padding:0!important;height:100%!important}#identity-box{display:none}#urlbar .urlbarView{display:none!important}#searchbar{background:var(--bf-bg)!important;border:none!important}.searchbar-textbox{color:var(--bf-focus-fg)!important;font-weight:700!important}
/* 
Designed and Coded by Miguel R. Ãvila: https://github.com/MiguelRAvila
*/
