/* 
_____ _                 _                     _    
/ ____(_)               | |                   | |   
| (___  _ _ __ ___  _ __ | | ___ _ __ ___ _ __ | |_  
\___ \| | '_ ` _ \| '_ \| |/ _ \ '__/ _ \ '_ \| __| 
____) | | | | | | | |_) | |  __/ | |  __/ | | | |_  
|_____/|_|_| |_| |_| .__/|_|\___|_|  \___|_| |_|\__| 
|  ____|           | |                               
| |__ _____  __    |_|                               
|  __/ _ \ \/ /                                      
| | | (_) >  <                                       
|_|  \___/_/\_\                                      
                                                    
 
No URL Bar Compressed Version
*/
/* 
V A R I A B L E S 
Here you can change the opacity level and the main color of the browser. Also the color of the selections (When you select text)
*/
:root {
  --srf-color-primary: rgba(20, 20, 20, 0.6);
  --srf-color-selection: #bebebe;
  --srf-color-urlbar: rgba(20, 20, 20, 0.6);
}
/* 
C O M P R E S S E D - C O D E 
*/
window,#main-window,#toolbar-menubar,#TabsToolbar,#PersonalToolbar,#navigator-toolbox,#sidebar-box{background-color:var(--srf-color-primary)!important;-moz-appearance:none!important;background-image:none!important;border:none!important;box-shadow:none!important}::selection{background-color:var(--srf-color-selection);color:#141414}:root{--tabs-border:transparent!important}.tab-background{border:none!important}.tab-background[selected="true"]{-moz-appearance:none!important;background-image:none!important}.tabbrowser-tabs{border:none!important;opacity:0!important}.tabbrowser-tab::before{opacity:0!important;border-left:none!important}.tabbrowser-tab::after{opacity:0!important;border-left:none!important}.titlebar-placeholder{border:none!important}#forward-button{display:none!important}#back-button{display:none!important}.titlebar-spacer{display:none!important}#tracking-protection-icon-container{display:none!important}#PanelUI-button{display:none!important}.tabbrowser-tab:not([pinned]) .tab-close-button{display:none!important}hbox.tab-content .tab-icon-image{display:none!important}#navigator-toolbox::after{border-bottom:0!important;border-top:0!important}#nav-bar{border:none!important;box-shadow:none!important;margin-top:0!important;border-top-width:0!important;margin-bottom:0!important;border-bottom-width:0!important}#history-panel,#sidebar-search-container,#bookmarksPanel{background:var(--srf-color-primary)!important}#search-box{-moz-appearance:none!important;background:var(--srf-color-primary)!important;border-radius:6px!important}#sidebar-search-container{background-color:var(--srf-color-primary)!important}#sidebar-icon{display:none!important}.sidebar-placesTree{color:var(--srf-color-selection)!important}#sidebar-switcher-target{color:var(--srf-color-selection)!important}#sidebar-header{background:var(--srf-color-primary)!important}#sidebar-box{--sidebar-background-color:var(--srf-color-primary)!important}#sidebar-splitter{border:none!important;opacity:1!important;background-color:var(--srf-color-primary)!important}#urlbar[breakout]{margin-inline-start:0!important;width:100%!important;left:0!important;top:calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2)!important}#urlbar[breakout]:not([open]){bottom:calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2)!important}#urlbar-background{background:var(--srf-color-urlbar)!important;border:none!important;animation:none!important}#urlbar-input-container{padding:0!important;height:100%!important}#identity-box{display:none}#urlbar-input:focus{color:#fff!important}.megabar[open="true"] > #urlbar-background{background:#fff!important}.urlbarView{margin-inline:0!important;width:auto!important}.urlbarView-row{padding:0 2px!important}.urlbarView-row-inner{padding-inline-start:4px!important}
/* 
Designed and Coded by Miguel R. Ávila: https://github.com/MiguelRAvila
*/
